# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project specific
cpp-bezier/bezier
rs-bezier/target
iced-bezier/target
assign1/bezier
assign1/bezier-button
assign1/Cargo.lock
assign1/Cargo.toml
assign1/README.md
assign1/src/biarc.rs
assign1/src/main.rs
assign1/src/util.rs
assign1-preprint.zip
assign1.zip
